<h1>회원가입</h1>

<form name="signup" action="{% url 'boeun_bread:SignUp' %}" method="POST">
    {% csrf_token %}
<div>
    <label>이름 및 단체명</label>
    <input type="text" id="user_name" name="user_name"  style="border-radius: 10px!important;" maxlength="20">
</div>
<div >
    <label>ID</label> <label style="color:#666666; font-size:11px;" style>(영어, 숫자 포함 6~20자 이내)</label>
    <input type="text" id="user_id" name="user_id"style="border-radius: 10px!important;" onblur="idcheck();" maxlength="20">
    <div id="id_right" style="font-size:11px; font-weight:600; display:none;" >
        <label style="color:#0081ff;">사용가능</label>
    </div>
    <div id="id_passrule_error" style="font-size:11px; font-weight:600; display:none;" >
        <label style="color:#ff0002; padding-right:7px;">사용불가</label><label style="color:#666666;">아이디 양식 오류</label>
    </div>
    <div id="id_error" style="font-size:11px; font-weight:600; display:none;" >
        <label style="color:#ff0002; padding-right:7px; ">사용불가</label><label style="color:#666666;">아이디 중복</label>
    </div>
<div>
    <label>비밀번호</label> <label style="color:#666666; font-size:11px;">(영어, 숫자, 특수문자 포함 8~15자 이내)</label>
    <input type="password" id="user_pwd" name="user_pwd"style="border-radius: 10px!important;" onblur="passrulecheck();" maxlength="15">
    <div id="pw_passrule_right" style="font-size:11px; font-weight:600; display:none;" >
        <label style="color:#0081ff;">사용가능</label>
    </div>
    <div id="pw_passrule_error" style="font-size:11px; font-weight:600; display:none;" >
        <label style="color:#ff0002; padding-right:7px;">사용불가</label><label style="color:#666666;">비밀번호 양식 오류</label>
    </div>
</div>
<div>
    <label>비밀번호 확인</label>
    <input type="password" id="user_pwcheck" name="user_pwcheck"style="border-radius: 10px!important;" onblur="pwcheck();" maxlength="15">
    <div id="pw_right" style="font-size:11px; font-weight:600; display:none;" >
        <label style="color:#0081ff;">비밀번호 일치</label>
    </div>
    <div id="pw_error" style="font-size:11px; font-weight:600; display:none;" >
        <label style="color:#ff0002; padding-right:7px;">사용불가</label><label style="color:#666666;">비밀번호 불일치</label>
    </div>
</div>
<div>
    <label>이메일</label>
    <input type="email_text" id="email_text" name="email_text" style="border-radius: 10px!important;" maxlength="20">
    <p style="display: inline;">@</p>
    <select id="email_select" name="email_select" onblur="emailcheck();" onchange="emailcheck();" style="display: inline;">
        <option selected>주소 선택</option>
        <option>naver.com</option>
        <option>daum.net</option>
        <option>nate.com</option>
        <option>gmail.com</option>
        <option>hanmail.net</option>
        <option>hotmail.com</option>
        <option>paran.com</option>
        <option>yahoo.co.kr</option>
    </select>
</div>

<div>
    <labe>휴대폰번호</labe>
    <input type="text" id="user_phone" name="user_phone" style="border-radius: 10px!important;" maxlength="11" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
</div>

<div style="margin-top:3%;">
    <button type="reset" class="btn btn-danger" >취소</button>
    <button type="submit" class="btn btn-primary" >가입하기</button>
</div>

</form>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
  <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>
	function idcheck(){
		var idRule = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,20}$/;
		var id_right = document.getElementById('id_right');
		var id_passrule_error = document.getElementById('id_passrule_error');
		if(!idRule.test($('#user_id').val())) {
			id_passrule_error.style.display = 'block';
			id_right.style.display = 'none';
		}
		else{
			id_passrule_error.style.display = 'none';
			id_right.style.display = 'block';
			var iderror = document.getElementById('id_error');
			id = $('#user_id').val();
			if(id != ''){
				$.ajax({
					type : "POST",
					url : "{% url 'boeun_bread:SignUp_idcheck' %}",
					data : {
						'csrfmiddlewaretoken': '{{ csrf_token }}',
						'idcheck' : id,
					},
					success : function(response)
					{
						if(response.msg == '사용자가 이미 사용하고 있습니다.')
						{
							iderror.style.display = 'block';
							id_right.style.display = 'none';
						}else{
							iderror.style.display = 'none';
							id_right.style.display = 'block';
						}
						
					},
				});
			}
		}
	}

	function passrulecheck(){
		//비밀번호 8자리 이상 15자리 이하 특수문자 영어 숫자 포함
		var passRule = /^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
		var pw_passrule_right = document.getElementById('pw_passrule_right');
		var pw_passrule_error = document.getElementById('pw_passrule_error');
		if(!passRule.test($('#user_pwd').val())) {
			pw_passrule_error.style.display = 'block';
			pw_passrule_right.style.display = 'none';
		}
		else{
			pw_passrule_right.style.display = 'block';
			pw_passrule_error.style.display = 'none';
		}
		
	}

	function pwcheck(){
		pw = $('#user_pwd').val();
		pw_check = $('#user_pwcheck').val();
		if(pw != ''){
			var pw_error = document.getElementById('pw_error');
			var pw_right = document.getElementById('pw_right');
			if(pw != pw_check){
				pw_error.style.display = 'block';
				pw_right.style.display = 'none';
			}
			else{
				pw_error.style.display = 'none';
				pw_right.style.display = 'block';
			}
		}
	}
</script>