<!DOCTYPE html>
<html lang="en">
<head>
     <!--부트스트랩-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>견적서</title>
</head>
<body>
 <div style="width:1000px; margin:0px auto;">
    <h3 style="border-bottom: 1px solid black; padding: 10px; padding-bottom: 0px; width: 130px; margin:0px auto;" >
        견&nbsp&nbsp&nbsp적&nbsp&nbsp&nbsp서
    </h3>
    <h5 class='text-right' style="font-size: 13px; position: relative; left: -15px;">
        발행일: 2020년 1월 30일
    </h5>
    <div class="row">
     <table class="table table-bordered" style="float: left; width: 490px;">
        <tr>
            <td class="text-center" colspan="8">공급받는자</td>    
        </tr>
        <tr>
            <td class='text-center'>사업자<br>번호</td>
            <td class='text-center' colspan="7">
                <input type="text" style="border:0px;" placeholder="입력해주세요">
            </td>
        </tr>
        <tr>
            <td class='text-center'>상호</td>
            <td class='text-center' colspan="3">
                <input type="text" style="border:0px;" placeholder="입력해주세요">
            </td>
            <td class='text-center'>대표</td>
            <td class='text-center' colspan="3">
                <input type="text" style="border:0px;" placeholder="입력해주세요">
        </tr>
        <tr>
            <td class='text-center'>주소</td>
            <td class='text-center' colspan="7">
                <input type="text" style="border:0px;" placeholder="입력해주세요">
            </td>
        </tr>
        <tr>
            <td class="text-center">업태</td>
            <td class='text-center' colspan="3">
                <input type="text" style="border:0px;" placeholder="입력해주세요">
            </td>
            <td class="text-center"> 종목</td>
            <td class='text-center' colspan="3">
                <input type="text" style="border:0px;" placeholder="입력해주세요">
            </td>
        </tr>
        <tr>
            <td class="text-center">전화</td>
            <td class='text-center' colspan="3">
                <input type="text" style="border:0px;" placeholder="입력해주세요">
            </td>
            <td class="text-center"> 팩스</td>
            <td class='text-center' colspan="3">
                <input type="text" style="border:0px;" placeholder="입력해주세요">
            </td>
        </tr>
    
     </table>
     <table class="table table-bordered" style="width:490px; position: relative;left:20px; height: 251px; ">
        <tr>

            <td class="text-center" colspan="8">공급자</td>
        </tr>
         <tr>
            <td class='text-center'>사업자<br>번호</td>
            <td class='text-center' colspan="7">
                302-05-48507
            </td>
        </tr>
        <tr>
            <td class='text-center'>상호</td>
            <td class='text-center' colspan="3">
               보은군노인장애인복지관 본빵
            </td>
            <td class='text-center'>대표</td>
            <td class='text-center' colspan="3">
                박미선
        </tr>
        <tr>
            <td class='text-center'>주소</td>
            <td class='text-center' colspan="7">
               충북 보은군 보은읍 뱃들4길 11-10, 1층
            </td>
        </tr>
        <tr>
            <td class="text-center">업태</td>
            <td class='text-center' colspan="3">
               숙박 및 음식점업
            </td>
            <td class="text-center"> 종목</td>
            <td class='text-center' colspan="3">
                제과점
            </td>
        </tr>
        <tr>
            <td class="text-center">전화</td>
            <td class='text-center' colspan="3">
              043-544-5446
            </td>
            <td class="text-center"> 팩스</td>
            <td class='text-center' colspan="3">
               043-544-5449
            </td>
        </tr>
     </table>
     
    </div>
    <table class="table table-bordered" style="position: relative; left:-16px;">
        <tr>
            <td class="text-center col-md-1" >번호</td>
            <td class="text-center col-md-6" >제품명</td>
            <td class="text-center col-md-2"  >단가 (원)</td>
            <td class="text-center col-md-1">수량</td>
            <td class="text-center col-md-2" >합계 (원)</td>
        </tr>
           
        <tr>
            <td class="text-center col-md-1" >1</td>
            <td class="text-center col-md-6" >단팥빵 10개 묶음</td>
            <td class="text-center col-md-2"  >6000원</td>
            <td class="text-center col-md-1">1개</td>
            <td class="text-center col-md-2" >6000원</td>
        </tr>
        <tr>
            <td class="text-center" colspan="4" >결제금액</td>
           
            <td class="text-center col-md-2" >6000원</td>
        </tr>
    </table>
 </div>
<div class="text-center">
    <button style="width: 100px ; height:36px;">  인쇄하기 </button>
</div>
 
</body>
</html>