{% extends 'base.html' %}

{% block content %}
{% load static %}

    <style>

      .main{
        height:755px;
        width: 1200px;
        position: relative;
        background:url("/static/img/main/main.jpg");
      }

    </style>

    <img width="1200px" height="550px" src="{% static 'img/main/main_banner.jpg'%}" >
    <div class="main">
      <div style="margin-left:"></div>
      <div></div>
      <div style="margin-left:450px; margin-top:200px; width:140px; height:140px; cursor:pointer; position:absolute;" onclick="Sweet_Red_bea()"></div>
    </div>


    <script>
      function Sweet_Red_bean(){
        location.href=""
      }
    </script>
{% endblock %}
