{% extends 'boeun_bread/order_base.html' %}
{% load extra %}
{% block order_content %}


    <div id="order-box">
        <p id="kind-name">
            {% if type == 1 %}
              제빵
            {% elif type == 2 %}
             제과
            {%else%}
              선물세트
           {% endif %}
        </p>
        <hr>
        <ul id="bread-list-box">
            {% for p in product %}
                <li pk="{{p.pk}}">
                    <input type="hidden" class="child-count">
                    <img width="210" height="217" src="/media/{{p.P_img}}" class="prod" pk="{{p.pk}}" style="cursor: pointer;">
                    <div class="text-center">
                        <p style="margin-top:14px;">
                            <b>{{p.P_name}}</b>
                            <b>{{p.P_price}}원</b>
                        </p>
                        <div class="pm-count">
                            <i class="glyphicon glyphicon-minus minus" pk="{{p.pk }}"  style="margin-left:3px;"></i>
                            <span style="margin-left:10px;" id="count{{p.pk}}">1</span>
                            <i class="glyphicon glyphicon-plus plus" pk="{{p.pk }}" style="margin-left:10px;"></i>
                        </div>
                    </div>
                    <div class="add-cart-btn" pk="{{p.pk}}">
                        장바구니 담기
                    </div>
                </li>
            {% endfor %}
        </ul><br><br>


    </div>
    <script>



    </script>
{% endblock %}
