    <style>
      #footer_design{
        margin:0 auto;
        margin-top:30px;
        background-color:rgb(31,33,32);
        height:230px;

      }
      .footer_bar{
        padding-top:22px;
        font-size:13px;
        font-weight:regular;
        cursor:pointer;
        color:#777777;
      }
      .footer_info{
        font-size:10px;
        font-weight:regular;
        color:#BFBFBF;
        margin-top:3px;
      }
    </style>
   <footer id= "footer_design">
        <div>
          <label class="footer_bar" style="padding-left:120px; float:left;" onclick="open_map()">찾아오시는 길</label>
          <label class="footer_bar" style="padding-left:20px; float:left;">｜</label>
          <label class="footer_bar" style="padding-left:20px; float:left;" onclick="Service_center()">고객센터</label>
          <label class="footer_bar" style="padding-left:20px; float:left;">｜</label>
          <label class="footer_bar" style="padding-left:20px; float:left;" onclick="Privacy_Policy()">개인정보처리방침</label>
          <label class="footer_bar" style="padding-left:20px; float:left;">｜</label>
          <label class="footer_bar" style="padding-left:20px; " onclick="terms_and_conditions()">이용약관</label>

          <hr style="width:967px; margin-left:120px; margin-top:8px; color:#777777;">
        </div>

        <div style="padding-top:9px; padding-left:120px; float:left;">
          <div class="footer_info" style=" float:left; margin-top:4px;">보은군노인장애인복지관</div>
          <div style=" float:left; font-weight:bold; font-size:15px; color:#FFFFFF; padding-left:10px;">(주)본 빵</div>
          <div class="footer_info" style="clear:both;">주소 : (28936)충청북도 보은군 보은읍 뱃들4길 11-10, 1층</div>
          <div class="footer_info">대표 : 박미선</div>
          <div class="footer_info">사업자 등록번호 : 302-05-48507</div>
          <div class="footer_info">이메일 boeunhappy@hanmail.net</div>
          <div class="footer_info">개인정보관리책임자 김명석</div>
        </div>

        <div style="padding-left:700px; padding-top:40px;">
          <div style="float:left;">
            <label style="font-size:30px; font-weight:regular; color:#FFFFFF">043-544-5446</label>
          </div>
          <div style=" float:left; margin-left:20px;">
            <label style="font-size:10px; font-weight:regular; color:#FFFFFF">상담시간:</label>
            <label style="font-size:10px; font-weight:regular; color:#BFBFBF">오전09:30 ~ 오후 05:00</label>
            <br>
            <p style="float:left; font-size:10px; font-weight:regular; color:#FFFFFF">업무휴무: </p>
            <p style="float:left; font-size:10px; font-weight:regular; color:#BFBFBF">&nbsp토, 일, 공휴일 휴무</p>
          </div>
        </div>

      </footer>
<script>
  function open_map(){
    window.open("{% url 'boeun_bread:boeun_map'%}","찾아오시는 길","width=670,height=450, location = no , scrollbars = no",true)
  }

  function Service_center(){
    location.href="{% url 'boeun_bread:Service_center'%}";
  }

  function terms_and_conditions(){
    window.open("{% url 'boeun_bread:terms_and_conditions'%}","이용약관","width=670,height=450, location = no",true)
  }

  function Privacy_Policy(){
    window.open("{% url 'boeun_bread:Privacy_Policy'%}","개인정보처리방침","width=670,height=450, location = no",true)
  }
</script>
