{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'js/jquery.mCustomScrollbar.css' %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <link  href="{% static 'css/datepicker.css' %}" rel="stylesheet">
    <script src="{% static 'js/datepicker.js'%}"></script>
    <style>

        #cart-content{
            display:inline-block;
            width:640px;
            height: 500px;
            margin-left:95px;
            float: left;

        }
        #receiver-info{
            display:inline-block;
            width:447px;
            height: 500px;

        }
        .pm-count{
            display:inline-block;
            width:68px;
            height: 18px;
            font-size: 9px;
            color:#9E9E9E;
            background: #F8F8F8;
            border-radius: 9px;


        }
        .trash-icon-box{
            display:inline-block;
            width:25px;
            height:25px;
            background: #F8F8F8;
            border-radius: 11px;
            text-align: center;
            line-height: 25px;
            color:#9E9E9E;
            margin-left: 46px;
        }
        #product-list{

            list-style: none;
            width:598px;
            height: 467px;
            margin-top:48px;

        }
        #product-list  li{
            width:536px;
            height:105px;
            border-bottom: 1pt solid #707070;
            margin-bottom: 23px;
        }
        .field-box{
            width:341px;

            background-color: rgb(232,232,232);
            border-radius: 15px;
            line-height: 34px;
            margin-top:38px;


        }
        .field-box  input {
            border:none;
            width:213px;
            line-height: 0px;;
            background-color: rgb(232,232,232);
            margin-left: 10px;
        }
        .field-box > span {
            display: inline-block;
            margin-left:10px;
            font-size: 13px;
            font-weight: 800;
        }
       #total-box{
            display:inline-block;
            width:640px;
            height: 103px;
            background: rgb(246,244,245);
            margin-left: 70px;
            line-height: 103px;
       }
       #pay-btn{
        display:inline-block;
        width:447px;
        height:103px;
        line-height: 103px;;
        font-size: 28px;
        font-weight: 800;
        text-align: center;
        background:#D7D7D8;
        cursor: pointer;
       }
       #total-money-box{
           display: inline-block;
           width:515px;
           font-size: 15px;
            color:#363636;

       }
        ._mCS_1 .mCSB_dragger .mCSB_dragger_bar{ background-color: rgb(218,146,88); width:10px; }
        .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color: rgb(218,146,88); }
        .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color: rgb(218,146,88);}
        .mCSB_scrollTools .mCSB_draggerRail{ width:5px; background-color: gray; }
        .detail-addr-field{

            margin-left:50px;
            display: none;

        }
        #hope-day{
            width:106px;

            background: white;
            border: 1px solid black;
            cursor: pointer;
        }
        #datepicker{
            color:gray;
        }
        .check-box{
            margin-top: 20px;
            font-size: 13px;

        }
        #pay-text{
            color:red;
            font-weight: bold;
        }

        .datepicker-panel > ul > li.disabled,
        .datepicker-panel > ul > li.disabled:hover{
                color:red;
        }
    </style>
<div>
    <div class="text-right" style="margin-top:28px; margin-right: 78px;">
        <img width="20" height="20" src="{% static 'img/homepagelogo.png'%}" style="position: relative; top:-3px;">
        <i class="glyphicon glyphicon-menu-right"></i>
        <span style="font-weight: 500; position: relative; top:-1px;">장바구니</span>
    </div>
    <div style="margin-top:42px;">
        <div id = "cart-content">
            <p style="font-weight:800; font-size:30px;">
                장바구니
            </p>

        <form id="b_payment" action="{% url 'boeun_bread:Before_payment'%}" method="POST">
            {% csrf_token %}
            <ul id="product-list" class="content">
                {% for c in cp %}
                <input type="hidden" name="prod_pk" value="{{c.product_id}}">
                 <li  class="item" pk="{{c.product_id}}">
                    <img width="87" height="90" src="/media/{{ c.product_img }}">
                    <span style="display:inline-block;width:152px; margin-left:15px; font-size: 20px;">{{ c.product_name }}</span>
                    <div class="pm-count">
                        <i class="glyphicon glyphicon-minus minus" pk="{{c.product_id}}" style="margin-left:3px;"></i>
                        <span style="margin-left:10px; font-size:15px;" id="count{{c.product_id}}">{{ c.product_count }}</span>
                        <i class="glyphicon glyphicon-plus plus" pk="{{c.product_id}}" style="margin-left:10px;"></i>
                    </div>
                    <span style="margin-left:54px; font-size:15px;">
                        <span id="item-money{{c.product_id}}" class="item-money" pk="{{c.product_id}}" price="{{ c.product_price }}"></span> 원
                    </span>
                    <div class="trash-icon-box">
                        <i class="glyphicon glyphicon-trash del_product" pk="{{ c.pk }}" style="cursor:pointer;"></i>
                    </div>
                 </li>

                 {% endfor %}
            </ul>

        </div>
        <div id ="receiver-info">
            <p style="font-size: 30px; font-weight: 800;">
                배송지 정보
            </p>
            <div>

                    <!--주소-->
                    <div class="field-box">
                        <span>주소 :</span>
                        <input type="text"  class="field" id="addr" name="addr">
                        <div class="detail-addr-field">
                            <input type="text" class="field" id="detail-addr" name="detail-addr" placeholder="상세주소">
                        </div>

                    </div>
                    <div class="check-box">
                        <input type="checkbox" id="input-recently-info">
                        <label for="input-recently-info">최근 배송지 정보로 입력</label>
                    </div>

                    <!--이메일-->
                    <div class="field-box">
                        <span>이메일 :</span>
                        <input type="email" id="email" value="{{request.user.profile.U_email}}" >
                    </div>
                    <!--이름-->
                    <div class="field-box">
                        <span>이름 :</span>
                        <input type="text" id="name"  value="{{request.user.profile.U_name}}" >
                    </div>
                    <!--핸드폰 번호-->
                    <div class="field-box">
                        <span>핸드폰 번호 :</span>
                        <input type="text" id="phone"  value="{{request.user.profile.U_phone}}">
                    </div>
                    <!--배송 희망일-->
                    <div class="field-box">
                        <span>배송 희망일 :</span>
                        <input id="hope-day" name="hopeday"  type="text" placeholder="YYYY-MM-DD">
                        <label for="hope-day"><i class="glyphicon glyphicon-calendar" id="datepicker"></i></label>
                    </div>
                    <!--주문시 요청사항-->
                    <div class="field-box">
                        <span>주문시 요청사항 :</span>
                        <input type="text" id="request_content" class="field" name="request_content">
                    </div>
                    <!--최근 배송지 정보로 입력-->
                    <input type="hidden" name="cart_pk" value={{cart.pk}}>
                </form>

            </div>
        </div>
        <div style="clear:both; margin-top:120px;">
            <div id="total-box">
                <span style="font-weight: 800; font-size: 28px; margin-left:25px;">
                    총액
                </span>
                <div id="total-money-box" class="text-right">
                    상품 가격 : <span id="total-money"></span> 원 +
                    배송비 : 3000원 = <span id="pay-text">결제총액 : <span id="pay-money"></span></span>

                </div>
            </div>
            <div id="pay-btn" onclick="payment()">
                결제하기
            </div>

        </div>
    </div>
</div>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //다음 api 주소
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    //document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                   // document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                //document.getElementById('sample6_postcode').value = data.zonecode;
                //document.getElementById("sample6_address").value = addr;
                document.getElementById("addr").value = (addr+extraAddr);
                showDetailAddr();
                // 커서를 상세주소 필드로 이동한다.
                //document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }

    // 주소 필드 클릭시 주소api 로드
    $("#addr").click(function(){
        execDaumPostcode();
    });

    function showDetailAddr(){
        $(".detail-addr-field").css("display","block");
    }

</script>
<script>
    init();


    $('#hope-day').datepicker({
        format: 'yyyy-mm-dd',
        daysMin:['일','월',"화","수","목","금","토"],
        months:['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
        filter : function (date ,  view )  {
            if ((date.getDay() === 0 || date.getDay() === 6 ) && view === 'day') {
                return false;
            }
        }
    });

    //배송희망일 값 change 이벤트
    $("#hope-day").change(function(){
        var input_date = new Date($(this).val()) //사용자 선택 date
        var now        = new Date(); // 현재 시간
        now.setDate(now.getDate() + 1); // 현재 시간 1일뒤
        if(input_date.getDay() == 0 || input_date.getDay() == 6){
            alert("토요일,일요일은 주문 불가능 합니다.");
            $(this).val("");
        }
        else if(now >= input_date) {
            alert("2일후부터 주문가능합니다.");
            $(this).val("");
        }
    });


    function init(){

        var sum = 0
        $(".item-money").each(function(index,item){
            var pk    = $(item).attr("pk");
            var price = parseInt($(item).attr("price"));
            var count = parseInt($("#count"+pk).text());
            $(item).text(price*count)
            sum += price*count;
        });

        $("#total-money").text(sum);
        $("#pay-money").text(sum+3000);
    }

    $(".content").mCustomScrollbar({});
    //plus 버튼 클릭시
    $(".plus").click(function(){
        var pk = $(this).attr("pk");
        var cur = parseInt($("#count"+pk).text()) + 1;
        var pre = parseInt($("#count"+pk).text());

        $("#count"+pk).text(cur);
        ajax(pk,cur-pre);

    });
    //minus 버튼 클릭시
    $(".minus").click(function(){
        var pk = $(this).attr("pk");
        var cur = parseInt($("#count"+pk).text()) - 1;
        if (cur < 1){
            cur = 1;
        }
        var pre = parseInt($("#count"+pk).text());
        $("#count"+pk).text(cur);
        ajax(pk,cur-pre);
    });
    //상품삭제
    $(".del_product").click(function(){
        if (confirm("삭제하시겠습니까?")){
            $(this).closest("li").remove();
            init();
            $.ajax({
                    type : "GET",
                    url : "/delCart/"+$(this).attr('pk'),

                    success : function(response)
                    {


                    }
            });
      }
    });
    function ajax(pk,count){
        var url = "/addCart/"+pk+"/"+count
        $.ajax({
                type : "GET",
                url : url,

                success : function(response)
                {
                    init();

                }
            });
    }

    //  최근 배송지 정보로 입력 체크시
    $("#input-recently-info").change(function(){
        if($(this).is(":checked")){
            request_recently_info();
        }else{
            $(".detail-addr-field").css("display","none");
            $(".field").val('');
        }
    })
    //ajax로 최근 배송 정보 가져오기
    function request_recently_info(){
        $.ajax({
               type : "GET",
               url : "{% url 'boeun_bread:recently_info' %}",
               success : function(response)
               {
                  $(".detail-addr-field").css("display","block");
                  $("#addr").val(response['addr']);
                  $("#detail-addr").val(response['detail_addr']);
                  $("#request_content").val(response['request_content']);
               }
          });
    }

    function payment(){
      $('#b_payment').submit();
    }
</script>
{% endblock %}
