
<div style=" margin-top:5px; width:5px; height:23px; background-color:#EF832E; float:left;"></div>
<div style="padding-top:5px; margin-left:15px;">개인정보 처리 방침</div>

<div style="margin-top:20px;">
<pre>
  보은군노인·장애인복지관 본빵 쇼핑몰은 정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하
  정통망법이라 함) 및 기타 관련 법률들을 비롯하여 방송통신위원회가 고시한 개인정보보호지침을
  준수하고 정통망법 제27조의 2에 의거 다음과 같이 “개인정보 수집 및 이용”을 공지합니다.

  ※ 개인정보 수집 및 이용 개요
  ① "개인정보"라 함은 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명 등의
     사항에 의하여 당해 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수
     없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함)를 말합니다.

  ② 고객의 개인정보보호를 매우 중요시하며, 정통망법상의 개인정보보호규정 및
     방송통신위원회가 제정한 "개인정보보호지침"을 준수하고 있습니다. 개인정보 수집 및
     이용을 통하여 고객께서 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며
     개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.

  ③ 개인정보 수집 및 이용 안내를 홈페이지 첫 화면에 공개함으로써 고객께서 언제나
     용이하게 보실 수 있도록 조치하고 있습니다.

  ④ 보은군노인·장애인복지관 본빵의 개인정보 수집 및 이용 안내는 정부의 법률 및
     지침 변경이나 보은군노인·장애인복지관 본빵의 내부 방침 변경 등으로 인하여 수시로
     변경될 수 있고, 이에 따른 개인정보 처리방침의 지속적인 개선을 위하여 필요한 절차를
     정하고 있습니다. 그리고 개인정보 처리방침을 개정하는 경우 개인정보 처리방침 변경
     시행 7일전부터 공지사항을 통하여 공지하고 개정일자 등을 부여하여 개정된 사항을 고객께서
     쉽게 알아볼 수 있도록 하고 있습니다.

  <p style="font-weight:bold;">1. 수집하는 개인정보의 항목 및 수집방법</p>
   가. 수집하는 개인정보의 항목
      회사는 회원가입, 비회원 구매, 상담, 불량이용의 방지 등을 위해 아래와 같은 개인정보를
      수집하고 있습니다.
        - 필수항목 : 이름 및 단체명, 아이디, 비밀번호, 이메일, 연락처, 주소, IP Address
        - 선택항목 : 개인맞춤 서비스를 제공하기 위하여 회사가 필요로 하는 정보
   나. 수집방법
        - 홈페이지, 모바일기기, 서면양식, 팩스, 전화, 상담게시판, 이메일, 배송요청

  <p style="font-weight:bold;">2. 개인정보의 수집 및 이용목적</p>
   다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지
   않습니다.
   - 고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별 및 인증, 회원자격 유지
     및 관리, 물품 또는 서비스 공급에 따른 금액 결제, 물품 또는 서비스의 공급 및 배송 등

  <p style="font-weight:bold;">3. 개인정보의 보유 및 이용기간</p>
   회사는 이용자의 개인정보를 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체
   없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.

   - 계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
   - 대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
   - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)
   - 방문(로그)에 관한 기록 : 3개월(통신비밀보호법)

  <p style="font-weight:bold;">4. 개인정보의 제3자 제공</p>
   회사는 정보주체의 별도 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조에 해당하는 경우
   외에는 개인정보를 제3자에게 제공하지 않습니다.

  <p style="font-weight:bold;">5. 개인정보의 파기 절차 및 방법</p>
   이용자의 개인정보는 개인정보의 수집 및 이용목적이 달성되면 지체 없이 아래와 같은
   방법으로 파기합니다.

   가. 파기절차
     이용자가 서비스 이용 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로
     옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호
     사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다. 별도 DB로 옮겨진
     개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.
   나. 파기방법
     - 종이에 출력된 개인정보 : 분쇄기로 분쇄하거나 소각
     - 전자적 파일 형태로 저장된 개인정보 : 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제

  <p style="font-weight:bold;">6. 수집한 개인정보의 공유 및 제공</p>
   이용자의 개인정보는 원칙적으로 위 사항 외에 외부에 제공하지 않습니다. 다만, 아래의
   경우에는 예외로 합니다.
   - 이용자들이 사전에 동의한 경우
   - 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의
    요구가 있는 경우

  <p style="font-weight:bold;">7. 이용자 자신의 개인정보 관리(열람, 정정, 삭제 등)에 관한 사항</p>
   이용자가 원할 경우 언제라도 당사에서 개인정보를 열람하실 수 있으며 보관된 필수 정보를
   수정하실 수 있습니다. 또한 회원 가입 시 요구된 필수 정보 외의 추가정보는 언제나 열람,
   수정, 삭제할 수 있습니다. 이용자의 개인정보 변경 및 삭제와 회원탈퇴는 로그인 후 이용하실
   수 있습니다.

  <p style="font-weight:bold;">8. 쿠키(cookie)의 운영에 관한 사항</p>
   가. 쿠키는 웹사이트가 이용자의 컴퓨터 브라우저로 전송하는 소량의 정보입니다. 이용자가
       웹사이트에 접속을 하면 회사 서버는 이용자의 브라우저에 추가정보를 임시로 저장하여
       접속에 따른 성명 등의 추가 입력 없이 서비스를 제공할 수 있습니다. 쿠키는 이용자의
       컴퓨터는 식별하지만 이용자를 개인적으로 식별하지는 않습니다. 또한 이용자는 쿠키에
       대한 선택권이 있습니다. 웹 브라우저 상단의 도구 > 인터넷 옵션 탭(option tab)에서
       모든 쿠키를 다 받아들이거나, 쿠키가 설치될 때 통지를 보내도록 하거나, 아니면 모든
       쿠키를 거부할 수 있는 선택권을 가질 수 있습니다.

   나. 회사는 이용자의 편의를 위하여 쿠키를 운영합니다. 회사는 쿠키를
       통해 수집하는 정보는 회원ID에 한하며, 그 외의 다른 정보는 수집하지 않습니다.
       또한 쿠키를 통해 수집한 회원 ID는 다음의 목적을 위해 사용됩니다.

   ① 개인의 관심 분야에 따란 차별화된 정보를 제공
   ② 쇼핑한 품목들에 대한 정보와 장바구니 서비스를 제공
   다. 쿠키는 브라우저의 종료 시나 로그아웃 시 만료됩니다.

  <p style="font-weight:bold;">9. 개인정보의 처리위탁</p>
   회사는 서비스의 원활한 제공을 위해 개인정보를 위탁처리하고 있으며, 관계 법령에 따라
   위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 있습니다.

   - 위탁  대상자 : 우체국택배, CJ대한통운, 로젠택배,
   - 위탁업무내용 : 상품의 운송 관련 전반, 카드 및 각종 pay에 대한 결제 처리 및 청구,
     고객정보 DB시스템 구축 및 운영/관리

  <p style="font-weight:bold;">10. 개인정보보호를 위한 기술적/관리적 대책</p>
   가. 개인정보 취급 직원의 최소화 및 교육
       개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 개인정보를 관리하는 대책을
       시행하고 있습니다.

   나. 해킹 등에 대비한 기술적 대책
       회사는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여
       보안프로그램을 설치하고 주기적인 갱신·점검을 하며, 외부로부터 접근이 통제된 구역에
       시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.

   다. 개인정보의 암호화
       이용자의 개인정보는 암호화 됭러 저장 및 관리되고 있어 본인만 알 수 있으며,
       중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는
       등의 별도 보안기능을 사용하고 있습니다.

   라. 접속기록의 보관 및 위변조 방지
       개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관, 관리하고 있으며, 접속
       기록이 위변조 및 도난, 분실되지 않도록 보안기능을 사용하고 있습니다.

   마. 개인정보에 대한 접근 제한
       개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여, 변경, 말소를 통하여
       개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며, 침입차단시스템을 이용
       하여 외부로부터의 무단접근을 통제하고 있습니다.

  <p style="font-weight:bold;">11. 개인정보보호책임자</p>
   회사는 이용자가 좋은 정보를 안전하게 이용할 수 있도록 최선을 다하고 있습니다.
   개인정보를 보호하는데 있어 이용자에게 고지한 사항들에 반하는 사고가 발생할 시에는
   회사가 모든 책임을 집니다. 그러나 기술적인 보완조치를 했음에도 불구하고, 해킹 등
   기본적인 네트워크상의 위험성에 의해 발생하는 예기치 못한 사고로 인한 정보의 훼손 및
   방문자가 작성한 게시물에 의한 각종 분쟁에 관해서 회사는 책임을 지지 않습니다. 이용자의
   개인정보를 처리하는 책임자는 다음과 같으며 개인정보 관련 문의사항에 신속하고 성실하게
   답변해 드리고 있습니다.

   개인정보보호책임자 성명 : 김영석

   전화번호 : 043-544-5446

   이 메 일 : boeunhappy@hanmail.net

  <p style="font-weight:bold;">12. 고지의 의무</p>
   가. 본 개인정보처리방침을 포함한 기타 개인정보보호에 대한 상세한 내용은 서비스
       홈페이지 첫 화면에 공개함으로써 이용자가 언제나 용이하게 보실 수 있도록 조치하고
       있습니다.
   나. 법령 정책 또는 보안기술의 변경에 따라 중요한 내용의 추가 삭제 및 수정이 있을
       시에는 변경되는 개인정보처리방침을 시행하기 전에 서비스 홈페이지를 통해 변경이유
       및 내용 등에 대하여 공지하도록 하겠습니다.
   다. 본 개인정보처리방침의 내용은 수시로 변경될 수 있으므로 서비스홈페이지를
       방문하실 때 마다 이를 확인하시기 바랍니다.
</pre>
</div>
