{% extends 'manage/manage_base.html'%}
{% load extra %}
{% block manage_content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<div style="float:right;">
  <select id="month">
    <option value="0">전체</option>
    <option value="1">1월</option>
    <option value="2">2월</option>
    <option value="3">3월</option>
    <option value="4">4월</option>
    <option value="5">5월</option>
    <option value="6">6월</option>
    <option value="7">7월</option>
    <option value="8">8월</option>
    <option value="9">9월</option>
    <option value="10">10월</option>
    <option value="11">11월</option>
    <option value="12">12월</option>
  </select>
</div>

<div style="float:right; margin-right:30px;">
  <select id="year">
    <option value="0">전체</option>
    <option value="2020">2020</option>
    <option value="2021">2021</option>
    <option value="2022">2022</option>
  </select>
</div>

<div id="pre_page">
  {% include 'manage/manage_Sales_Status_table.html' %}
</div>

<script>

  $("#year").change(function(){
    $.ajax({
        type : "POST",
        url : "{% url 'boeun_bread:manage_Sales_Status_table' %}",
        data : {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'year' : $("#year option:selected").val(),
            'month': $("#month option:selected").val(),
        },

        success : function(response)
        {
          $('#pre_page').empty();
          $('#pre_page').append(response)
        }
    });
  });

  $("#month").change(function(){
    $.ajax({
        type : "POST",
        url : "{% url 'boeun_bread:manage_Sales_Status_table' %}",
        data : {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'year' : $("#year option:selected").val(),
            'month': $("#month option:selected").val(),
        },

        success : function(response)
        {
          $('#pre_page').empty();
          $('#pre_page').append(response)
        }
    });
  });
</script>
{% endblock %}
