<style>

  table {
   width: 100%;
   border-top: 1px solid #444444;
   border-collapse: collapse;
 }
 th, td {
   border-bottom: 1px solid #444444;
   padding: 10px;
 }

</style>
<div style="padding-top:30px;">
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'boeun_bread:manage' %}">관리자페이지</a>
    </li>
    <li class="breadcrumb-item active">매출현황</li>
</ol>

<div style="text-align:center;">
<table id={{keyword}}>
  <tr>
    <th>상품명</th>
    <th>총 판매량</th>
  </tr>
  {% if keyword %}
    {%for list,cnt in bread_list.items %}
    <tr>
      <td>{{list}}</td>
      <td>{{cnt}}</td>
    </tr>
    {% endfor %}
    <tr>
      <div style="width:800px;height:800px;">
        <input type="button" value="그래프보기" onclick="chart();">
        <canvas id="myChart" width="10" height="10"></canvas>
      </div>
    </tr>
  {% else %}
    {% for prod in prod %}
      <tr>
        <td>{{prod.P_name}}</td>
        <td>{{prod.P_sales}}</td>
      </tr>
    {% endfor %}
    <tr>
      <div style="width:800px;height:800px;">
        <input type="button" value="그래프보기" onclick="chart();">
        <canvas id="myChart" width="10" height="10"></canvas>
      </div>
    </tr>
  {%endif%}
</table>
</div>
</div>
<script>
  function chart(){
      var bread = [];
      var bread_count = [];
      var color = [];
      var name_count = 0;
      var sales_count = 0;

      for(var i of {{p_name_list|safe}}){
        bread[name_count] = i;
        color[name_count] = "rgba(255, 206, 86, 1)";
        name_count++;
      }

      for(var i of {{p_salse_list|safe}}){
        bread_count[sales_count] = i;
        sales_count++;
      }
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: bread,
              datasets: [{
                  label: '판매량',
                  data: bread_count,
                  backgroundColor: color,
                  borderColor: color,
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
    }

</script>
