{% extends 'SignUp/signup_base.html' %}
{% load static %}
{% block content %}
    <style>
        #agreement-box{
            width:968px;
            height: 652px;
            border-top:2px solid #9E9E9E;
            margin: 0 auto;
            margin-top:65px;
            background: #F8F8F8;
            margin-bottom: 40px;;
        }
        hr{
            border-width: 2px;
            border-color:rgb(210,210,210);
        }
        .text-box{
            overflow-y: scroll;
            width:876px;
            height:121px;
            border:1px solid rgb(210,210,210);
            margin-left: 46px;
            background: white;
        }
        .sign_up_icon{
            width:40px;
        }
        .icon_bar{
            margin-left:33px;
            width:45px;
            color:red;
        }
        .button{
            display: inline-block;
            width:128px;
            height: 34px;
            background: rgb(51,51,51);
            color:white;
            line-height: 34px;
            font-weight: 600;
            margin-right: 38px;
            margin-top: 40px;;
            cursor: pointer;
        }
        .text-color{
            color:red;
        }


    </style>
    <div style="width:521px; margin:0 auto; margin-top:77px;">
        <div>
            <img class="sign_up_icon" src="{% static 'img/sign_up/sign_up_two_check.png'%}" style="">
            <img class="sign_up_icon" src="{% static 'img/sign_up/sign_up_three.png'%}" style="margin-left:111px;">
            <img class="sign_up_icon" src="{% static 'img/sign_up/sign_up_one.png'%}" style="margin-left:111px;">
            <img class="sign_up_icon" src="{% static 'img/sign_up/sign_up_four.png'%}" style="margin-left:111px;">
        </div>
        
        <div style="margin-top: 15px;">
            <span style="margin-left:-7px; margin-right:97px; color:#e47f32;"><U>약관동의</U></span>
            <span style="margin-left:-13px; margin-right:105px;">회원정보 입력</span>
            <span style="margin-left:-33px; margin-right:97px;">본인인증</span>
            <span>가입완료</span>
        </div>
    </div>
      <!-- <hr style="margin-left:115px; margin-top:67px; color:#AAAAAA; width:968px;"> -->
    <div id="agreement-box">
        <p style="color:#9E9E9E; font-size: 20px; font-weight: 600; margin-left:46px; margin-top: 61px;">
            이용약관
            <span style="color:#EF832E; font-size:12px; font-weight:500;">
                보은 빵은 공정거래위원회의 전자상거래 표준약관을 준수합니다.
            </span>
        </p>
        <hr>
        <p style="font-size:14px; color:#9E9E9E; font-weight: 500; margin-left: 46px;">
            <span style="color:#EF832E;">(필수)&nbsp</span>
            이용약관
        </p>
        <hr style="margin-bottom: 9px;">
        <div class="text-box">
            <p>
                전자상거래(인터넷사이버몰) 표준약관<br>
                표준약관 제10023호<br>
                <br>
                제1조(목적)<br>
                이 약관은 보은군노인·장애인복지관 본빵 회사(전자거래사업가)가 운영하는 보은군노인·장애인복지관 본빵 사이버 몰(이하 “몰”이라 한다)에서 제공하는 인터넷 관련 서비스(이하 “서비스”라 한다)를 이용함에 있어 사이버 몰과 이용자의 권리․의무 및 책임사항을 규정함을 목적으로 합니다.<br>
                ※「PC통신, 무선 등을 이용하는 전자상거래에 대해서도 그 성질에 반하지 않는 한 이 약관을 준용합니다」<br>
                <br>
                제2조(정의)<br>
                ① “몰”이란 보은군노인·장애인복지관 본빵 회사가 재화 또는 용역(이하 “재화 등”이라 함)을 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 재화 등을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 사이버몰을 운영하는 사업자의 의미로도 사용합니다.<br>
                ② “이용자”란 “몰”에 접속하여 이 약관에 따라 “몰”이 제공하는 서비스를 받는 회원 및 비회원을 말합니다.<br>
                ③ ‘회원’이라 함은 “몰”에 개인정보를 제공하여 회원등록을 한 자로서, 계속적으로 “몰”이 제공하는 서비스를 이용할 수 있는 자를 말합니다.<br>
                ④ ‘비회원’이라 함은 회원에 가입하지 않고 “몰”이 제공하는 서비스를 이용하는 자를 말합니다.<br>
                <br>
                제3조 (약관등의 명시와 설명 및 개정) <br>
                ① “몰”은 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 전화번호․모사전송번호․전자우편주소, 사업자등록번호, 통신판매업신고번호, 개인정보관리책임자등을 이용자가 쉽게 알 수 있도록 보은군노인·장애인복지관 본빵 사이버몰의 초기 서비스화면(전면)에 게시합니다. 다만, 약관의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있습니다.<br>
                ② “몰은 이용자가 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 청약철회․배송책임․환불조건 등과 같은 중요한 내용을 이용자가 이해할 수 있도록 별도의 연결화면 또는 팝업화면 등을 제공하여 이용자의 확인을 구하여야 합니다.<br>
                ③ “몰”은 「전자상거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제에 관한 법률」, 「전자문서 및 전자거래기본법」, 「전자금융거래법」, 「전자서명법」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」, 「방문판매 등에 관한 법률」, 「소비자기본법」 등 관련 법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.<br>
                ④ “몰”이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 몰의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 "몰“은 개정전 내용과 개정후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다. <br>
                ⑤ “몰”이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제3항에 의한 개정약관의 공지기간 내에 ‘몰“에 송신하여 ”몰“의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.<br>
                ⑥ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 「전자상거래 등에서의 소비자 보호지침」 및 관계법령 또는 상관례에 따릅니다.<br>
                <br>
                제4조(서비스의 제공 및 변경) <br>
                ① “몰”은 다음과 같은 업무를 수행합니다.<br>
                &nbsp1. 재화 또는 용역에 대한 정보 제공 및 구매계약의 체결<br>
                &nbsp2. 구매계약이 체결된 재화 또는 용역의 배송<br>
                &nbsp3. 기타 “몰”이 정하는 업무<br>
               ② “몰”은 재화 또는 용역의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화 또는 용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화 또는 용역의 내용 및 제공일자를 명시하여 현재의 재화 또는 용역의 내용을 게시한 곳에 즉시 공지합니다.<br>
               ③ “몰”이 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화 등의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 이용자에게 통지 가능한 주소로 즉시 통지합니다.<br>
               ④ 전항의 경우 “몰”은 이로 인하여 이용자가 입은 손해를 배상합니다. 다만, “몰”이 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.<br>
               <br>
               제5조(서비스의 중단) <br>
               ① “몰”은 컴퓨터 등 정보통신설비의 보수점검․교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.<br>
               ② “몰”은 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대하여 배상합니다. 단, “몰”이 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.<br>
               ③ 사업종목의 전환, 사업의 포기, 업체 간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 “몰”은 제8조에 정한 방법으로 이용자에게 통지하고 당초 “몰”에서 제시한 조건에 따라 소비자에게 보상합니다. 다만, “몰”이 보상기준 등을 고지하지 아니한 경우에는 이용자들의 마일리지 또는 적립금 등을 “몰”에서 통용되는 통화가치에 상응하는 현물 또는 현금으로 이용자에게 지급합니다.<br>
               <br>
               제6조(회원가입) <br>
               ① 이용자는 “몰”이 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.<br>
               ② “몰”은 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.<br>
               &nbsp 1. 가입신청자가 이 약관 제7조제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제7조제3항에 의한 회원자격 상실 후 3년이 경과한 자로서 “몰”의 회원재가입 승낙을 얻은 경우에는 예외로 한다.<br>
               &nbsp 2. 등록 내용에 허위, 기재누락, 오기가 있는 경우<br>
               &nbsp 3. 기타 회원으로 등록하는 것이 “몰”의 기술상 현저히 지장이 있다고 판단되는 경우<br>
               ③ 회원가입계약의 성립 시기는 “몰”의 승낙이 회원에게 도달한 시점으로 합니다.</br>
               ④ 회원은 회원가입 시 등록한 사항에 변경이 있는 경우, 상당한 기간 이내에 “몰”에 대하여 회원정보 수정 등의 방법으로 그 변경사항을 알려야 합니다.<br>
               <br>
               제7조(회원 탈퇴 및 자격 상실 등) <br>
               ① 회원은 “몰”에 언제든지 탈퇴를 요청할 수 있으며 “몰”은 즉시 회원탈퇴를 처리합니다.<br>
               ② 회원이 다음 각호의 사유에 해당하는 경우, “몰”은 회원자격을 제한 및 정지시킬 수 있습니다.<br>
               &nbsp 1. 가입 신청시에 허위 내용을 등록한 경우<br>
               &nbsp 2. “몰”을 이용하여 구입한 재화 등의 대금, 기타 “몰”이용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우<br>
               &nbsp 3. 다른 사람의 “몰” 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우<br>
               &nbsp 4. “몰”을 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우<br>
               ③ “몰”이 회원 자격을 제한․정지 시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 “몰”은 회원자격을 상실시킬 수 있습니다.<br>
               ④ “몰”이 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말<br>
               소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다.<br>
            <br>
            제8조(회원에 대한 통지)<br>
            ① “몰”이 회원에 대한 통지를 하는 경우, 회원이 “몰”과 미리 약정하여 지정한 전자우편 주소로 할 수 있습니다.<br>
            ② “몰”은 불특정다수 회원에 대한 통지의 경우 1주일이상 “몰” 게시판에 게시함으로서 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 개별통지를 합니다.<br>
            <br>
            제9조(구매신청) <br>
            ①“몰”이용자는 “몰”상에서 다음 또는 이와 유사한 방법에 의하여 구매를 신청하며, “몰”은 이용자가 구매신청을 함에 있어서 다음의 각 내용을 알기 쉽게 제공하여야 합니다. 단, 회원인 경우 제2호 내지 제4호의 적용을 제외할 수 있습니다.<br>
            &nbsp 1. 재화 등의 검색 및 선택<br>
            &nbsp 2. 성명, 주소, 전화번호, 전자우편주소(또는 이동전화번호) 등의 입력<br>
            &nbsp 3. 약관내용, 청약철회권이 제한되는 서비스, 배송료․설치비 등의 비용부담과 관련한 내용에 대한 확인<br>
            &nbsp 4. 이 약관에 동의하고 위 3.호의 사항을 확인하거나 거부하는 표시(예, 마우스 클릭)<br>
            &nbsp 5. 재화등의 구매신청 및 이에 관한 확인 또는 “몰”의 확인에 대한 동의<br>
            &nbsp 6. 결제방법의 선택<br>
            ② “몰”이 제3자에게 구매자 개인정보를 제공·위탁할 필요가 있는 경우 실제 구매신청 시 구매자의 동의를 받아야 하며, 회원가입 시 미리 포괄적으로 동의를 받지 않습니다. 이 때 “몰”은 제공되는 개인정보 항목, 제공받는 자, 제공받는 자의 개인정보 이용 목적 및 보유·이용 기간 등을 구매자에게 명시하여야 합니다. 다만 「정보통신망이용촉진 및 정보보호 등에 관한 법률」 제25조 제1항에 의한 개인정보 처리위탁의 경우 등 관련 법령에 달리 정함이 있는 경우에는 그에 따릅니다.<br>
            <br>
            제10조 (계약의 성립)<br>
            ① “몰”은 제9조와 같은 구매신청에 대하여 다음 각 호에 해당하면 승낙하지 않을 수 있습니다. 다만, 미성년자와 계약을 체결하는 경우에는 법정대리인의 동의를 얻지 못하면 미성년자 본인 또는 법정대리인이 계약을 취소할 수 있다는 내용을 고지하여야 합니다.<br>
            &nbsp 1. 신청 내용에 허위, 기재누락, 오기가 있는 경우<br>
            &nbsp 2. 미성년자가 담배, 주류 등 청소년보호법에서 금지하는 재화 및 용역을 구매하는 경우<br>
            &nbsp 3. 기타 구매신청에 승낙하는 것이 “몰” 기술상 현저히 지장이 있다고 판단하는 경우<br>
            ② “몰”의 승낙이 제12조제1항의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다.<br>
            ③ “몰”의 승낙의 의사표시에는 이용자의 구매 신청에 대한 확인 및 판매가능 여부, 구매신청의 정정 취소 등에 관한 정보 등을 포함하여야 합니다.<br>
            <br>
            제11조(지급방법) “몰”에서 구매한 재화 또는 용역에 대한 대금지급방법은 다음 각호의 방법중 가용한 방법으로 할 수 있습니다. 단, “몰”은 이용자의 지급방법에 대하여 재화 등의 대금에 어떠한 명목의 수수료도 추가하여 징수할 수 없습니다.<br>
            &nbsp 1. 폰뱅킹, 인터넷뱅킹, 메일 뱅킹 등의 각종 계좌이체 <br>
            &nbsp 2. 선불카드, 직불카드, 신용카드 등의 각종 카드 결제<br>
            &nbsp 3. 온라인무통장입금<br>
            &nbsp 4. 전자화폐에 의한 결제<br>
            &nbsp 5. 수령 시 대금지급<br>
            &nbsp 6. 마일리지 등 “몰”이 지급한 포인트에 의한 결제<br>
            &nbsp 7. “몰”과 계약을 맺었거나 “몰”이 인정한 상품권에 의한 결제 <br>
            &nbsp 8. 기타 전자적 지급 방법에 의한 대금 지급 등<br>
            <br>
            제12조(수신확인통지․구매신청 변경 및 취소)<br>
            ① “몰”은 이용자의 구매신청이 있는 경우 이용자에게 수신확인통지를 합니다.<br>
            ② 수신확인통지를 받은 이용자는 의사표시의 불일치 등이 있는 경우에는 수신확인통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있고 “몰”은 배송전에 이용자의 요청이 있는 경우에는 지체 없이 그 요청에 따라 처리하여야 합니다. 다만 이미 대금을 지불한 경우에는 제15조의 청약철회 등에 관한 규정에 따릅니다.<br>
            <br>
            제13조(재화등의 공급)<br>
            ① “몰”은 이용자와 재화등의 공급시기에 관하여 별도의 약정이 없는 이상, 이용자가 청약을 한 날부터 7일 이내에 재화 등을 배송할 수 있도록 주문제작, 포장 등 기타의 필요한 조치를 취합니다. 다만, “몰”이 이미 재화 등의 대금의 전부 또는 일부를 받은 경우에는 대금의 전부 또는 일부를 받은 날부터 2영업일 이내에 조치를 취합니다. 이때 “몰”은 이용자가 재화등의 공급 절차 및 진행 사항을 확인할 수 있도록 적절한 조치를 합니다.<br>
            ② “몰”은 이용자가 구매한 재화에 대해 배송수단, 수단별 배송비용 부담자, 수단별 배송기간 등을 명시합니다. 만약 “몰”이 약정 배송기간을 초과한 경우에는 그로 인한 이용자의 손해를 배상하여야 합니다. 다만 “몰”이 고의․과실이 없음을 입증한 경우에는 그러하지 아니합니다.<br>
            <br>
            제14조(환급)<br>
            “몰”은 이용자가 구매 신청한 재화 등이 품절 등의 사유로 인도 또는 제공을 할 수 없을 때에는 지체 없이 그 사유를 이용자에게 통지하고 사전에 재화 등의 대금을 받은 경우에는 대금을 받은 날부터 2영업일 이내에 환급하거나 환급에 필요한 조치를 취합니다.<br>
            <br>
            제15조(청약철회 등)<br>
            ① “몰”과 재화등의 구매에 관한 계약을 체결한 이용자는 수신확인의 통지를 받은 날부터 7일 이내에는 청약의 철회를 할 수 있습니다.<br>
            ② 이용자는 재화등을 배송받은 경우 다음 각호의 1에 해당하는 경우에는 반품 및 교환을 할 수 없습니다.<br>
            &nbsp 1. 이용자에게 책임 있는 사유로 재화 등이 멸실 또는 훼손된 경우<br>
            &nbsp (다만, 재화 등의 내용을 확인하기 위하여 포장 등을 훼손한 경우에는 청약철회를 할 수 있습니다)<br>
            &nbsp 2. 이용자의 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우<br>
            &nbsp 3. 시간의 경과에 의하여 재판매가 곤란할 정도로 재화등의 가치가 현저히 감소한 경우<br>
            &nbsp 4. 같은 성능을 지닌 재화등으로 복제가 가능한 경우 그 원본인 재화 등의 포장을 훼손한 경우<br>
            ③ 제2항제2호 내지 제4호의 경우에 “몰”이 사전에 청약철회 등이 제한되는 사실을 소비자가 쉽게 알 수 있는 곳에 명기하거나 시용상품을 제공하는 등의 조치를 하지 않았다면 이용자의 청약 철회등이 제한되지 않습니다.<br>
            ④ 이용자는 제1항 및 제2항의 규정에 불구하고 재화등의 내용이 표시·광고 내용과 다르거나 계약내용과 다르게 이행된 때에는 당해 재화등을 공급받은 날부터 3월이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 청약철회 등을 할 수 있습니다.<br>
            <br>
            제17조(개인정보보호)<br>
            ① “몰”은 이용자의 정보 수집 시 구매계약 이행에 필요한 최소한의 정보를 수집합니다. 다음 사항을 필수사항으로 하며 그 외 사항은 선택사항으로 합니다. <br>
            &nbsp 1. 성명 <br>
            &nbsp 2. 이동전화번호 <br>
            &nbsp 3. 주소 <br>
            &nbsp 4. 전화번호 <br>
            &nbsp 5. 희망ID(회원의 경우)<br>
            &nbsp 6. 비밀번호(회원의 경우)<br>
            &nbsp 7. 전자우편주소<br>
            ② “몰”이 이용자의 개인 식별이 가능한 개인정보를 수집하는 때에는 반드시 당해 이용자의 동의를 받습니다.<br>
            ③ 제공된 개인정보는 당해 이용자의 동의 없이 목적 외의 이용이나 제3자에게 제공할 수 없으며, 이에 대한 모든 책임은 몰이 집니다. 다만, 다음의 경우에는 예외로 합니다.<br>
             &nbsp 1. 배송업무상 배송업체에게 배송에 필요한 최소한의 이용자의 정보(성명, 주소, 전화번호)를 알려주는 경우<br>
             &nbsp 2. 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우<br>
             &nbsp 3. 재화 등의 거래에 따른 대금정산을 위하여 필요한 경우<br>
             &nbsp 4. 도용방지를 위하여 본인확인에 필요한 경우<br>
             &nbsp 5. 법률의 규정 또는 법률에 의하여 필요한 불가피한 사유가 있는 경우<br>
            ④ “몰”이 제2항과 제3항에 의해 이용자의 동의를 받아야 하는 경우에는 개인정보관리 책임자의 신원(소속, 성명 및 전화번호, 기타 연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사항(제공받은 자, 제공목적 및 제공할 정보의 내용) 등 정보통신망이용촉진등에관한법률 제22조제2항이 규정한 사항을 미리 명시하거나 고지해야 하며 이용자는 언제든지 이 동의를 철회할 수 있습니다.<br>
            ⑤ 이용자는 언제든지 “몰”이 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 “몰”은 이에 대해 지체없이 필요한 조치를 취할 의무를 집니다. 이용자가 오류의 정정을 요구한 경우에는 “몰”은 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않습니다.<br>
            ⑥ “몰”은 개인정보 보호를 위하여 관리자를 한정하여 그 수를 최소화하며 신용카드, 은행계좌 등을 포함한 이용자의 개인정보의 분실, 도난, 유출, 변조 등으로 인한 이용자의 손해에 대하여 모든 책임을 집니다.<br>
            ⑦ “몰” 또는 그로부터 개인정보를 제공받은 제3자는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 당해 개인정보를 지체없이 파기합니다.<br>
                <br>
            제18조(“몰“의 의무)<br>
            ① “몰”은 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 재화․용역을 제공하는데 최선을 다하여야 합니다.<br>
            ② “몰”은 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.<br>
            ③ “몰”이 상품이나 용역에 대하여 「표시․광고의공정화에관한법률」 제3조 소정의 부당한 표시․광고행위를 함으로써 이용자가 손해를 입은 때에는 이를 배상할 책임을 집니다.<br>
            ④ “몰”은 이용자가 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.<br>
            <br>
            제19조(회원의 ID 및 비밀번호에 대한 의무)<br>
            ① 제17조의 경우를 제외한 ID와 비밀번호에 관한 관리책임은 회원에게 있습니다.<br>
            ② 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.<br>
            ③ 회원이 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 “몰”에 통보하고 “몰”의 안내가 있는 경우에는 그에 따라야 합니다.<br>
            <br>
            제20조(이용자의 의무) <br>
            이용자는 다음 행위를 하여서는 안됩니다.<br>
            &nbsp 1. 신청 또는 변경시 허위 내용의 등록<br>
            &nbsp 2. 타인의 정보 도용<br>
            &nbsp 3. “몰”에 게시된 정보의 변경<br>
            &nbsp 4. “몰”이 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시<br>
            &nbsp 5. “몰” 기타 제3자의 저작권 등 지적재산권에 대한 침해<br>
            &nbsp 6. “몰” 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위<br>
            &nbsp 7. 외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 몰에 공개 또는 게시하는 행위<br>
                <br>
            제21조(연결“몰”과 피연결“몰” 간의 관계)<br>
            ① 상위 “몰”과 하위 “몰”이 하이퍼링크(예: 하이퍼링크의 대상에는 문자, 그림 및 동화상 등이 포함됨)방식 등으로 연결된 경우, 전자를 연결 “몰”(웹 사이트)이라고 하고 후자를 피연결 “몰”(웹사이트)이라고 합니다.<br>
            ② 연결“몰”은 피연결“몰”이 독자적으로 제공하는 재화 등에 의하여 이용자와 행하는 거래에 대해서 보증 책임을 지지 않는다는 뜻을 연결“몰”의 초기화면 또는 연결되는 시점의 팝업화면으로 명시한 경우에는 그 거래에 대한 보증 책임을 지지 않습니다.<br>
                <br>
            제22조(저작권의 귀속 및 이용제한)<br>
            ① “몰“이 작성한 저작물에 대한 저작권 기타 지적재산권은 ”몰“에 귀속합니다.<br>
            ② 이용자는 “몰”을 이용함으로써 얻은 정보 중 “몰”에게 지적재산권이 귀속된 정보를 “몰”의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.<br>
            ③ “몰”은 약정에 따라 이용자에게 귀속된 저작권을 사용하는 경우 당해 이용자에게 통보하여야 합니다.<br>
                <br>
            제23조(분쟁해결)<br>
            ① “몰”은 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치․운영합니다.<br>
            ② “몰”은 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.<br>
            ③ “몰”과 이용자 간에 발생한 전자상거래 분쟁과 관련하여 이용자의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시·도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다.<br>
                <br>
            제24조(재판권 및 준거법)<br>
            ① “몰”과 이용자 간에 발생한 자상거래 분쟁에 관한 소송은 제소 당시의 이용자의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.<br>
            ② “몰”과 이용자 간에 제기된 전자상거래 소송에는 한국법을 적용합니다.<br>

            </p>
        </div>
        <hr>
        <p style="font-size:14px; color:#9E9E9E; font-weight: 500; margin-left: 46px;">
            <span style="color:#EF832E;">(필수)&nbsp</span>
            개인정보처리방침
        </p>
        <hr style="margin-bottom: 9px;">
        <div class="text-box">
<pre>
보은군노인·장애인복지관 본빵 쇼핑몰은 정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하 정통망법이라 함) 및 기타 관련 법률들을 비롯하여 방송통신위원회가 고시한 개인정보보호지침을 준수하고 정통망법 제27조의 2에 의거 다음과 같이 “개인정보 수집 및 이용”을 공지합니다.

※ 개인정보 수집 및 이용 개요
① "개인정보"라 함은 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명 등의 사항에 의하여 당해 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함)를 말합니다.
② 고객의 개인정보보호를 매우 중요시하며, 정통망법상의 개인정보보호규정 및 방송통신위원회가 제정한 "개인정보보호지침"을 준수하고 있습니다. 개인정보 수집 및 이용을 통하여 고객께서 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.
③ 개인정보 수집 및 이용 안내를 홈페이지 첫 화면에 공개함으로써 고객께서 언제나 용이하게 보실 수 있도록 조치하고 있습니다.
④ 보은군노인·장애인복지관 본빵의 개인정보 수집 및 이용 안내는 정부의 법률 및 지침 변경이나 보은군노인·장애인복지관 본빵의 내부 방침 변경 등으로 인하여 수시로 변경될 수 있고, 이에 따른 개인정보 처리방침의 지속적인 개선을 위하여 필요한 절차를 정하고 있습니다. 그리고 개인정보 처리방침을 개정하는 경우 개인정보 처리방침 변경 시행 7일전부터 공지사항을 통하여 공지하고 개정일자 등을 부여하여 개정된 사항을 고객께서 쉽게 알아볼 수 있도록 하고 있습니다.

1. 수집하는 개인정보의 항목 및 수집방법
가. 수집하는 개인정보의 항목 
회사는 회원가입, 비회원 구매, 상담, 불량이용의 방지 등을 위해 아래와 같은 개인정보를 수집하고 있습니다. 
- 필수항목 : 이름 및 단체명, 아이디, 비밀번호, 이메일, 연락처, 주소, IP Address 
- 선택항목 : 개인맞춤 서비스를 제공하기 위하여 회사가 필요로 하는 정보 
나. 수집방법
- 홈페이지, 모바일기기, 서면양식, 팩스, 전화, 상담게시판, 이메일, 배송요청 

2. 개인정보의 수집 및 이용목적
다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.
- 고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별 및 인증, 회원자격 유지 및 관리, 물품 또는 서비스 공급에 따른 금액 결제, 물품 또는 서비스의 공급 및 배송 등

3. 개인정보의 보유 및 이용기간
회사는 이용자의 개인정보를 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.
- 계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
- 대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)
- 방문(로그)에 관한 기록 : 3개월(통신비밀보호법)

4. 개인정보의 제3자 제공
회사는 정보주체의 별도 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조에 해당하는 경우 외에는 개인정보를 제3자에게 제공하지 않습니다.

5. 개인정보의 파기 절차 및 방법
이용자의 개인정보는 개인정보의 수집 및 이용목적이 달성되면 지체 없이 아래와 같은 방법으로 파기합니다. 
가. 파기절차
이용자가 서비스 이용 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다. 
나. 파기방법
- 종이에 출력된 개인정보 : 분쇄기로 분쇄하거나 소각 
- 전자적 파일 형태로 저장된 개인정보 : 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제

6. 수집한 개인정보의 공유 및 제공
이용자의 개인정보는 원칙적으로 위 사항 외에 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.
- 이용자들이 사전에 동의한 경우
- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우

7. 이용자 자신의 개인정보 관리(열람, 정정, 삭제 등)에 관한 사항
이용자가 원할 경우 언제라도 당사에서 개인정보를 열람하실 수 있으며 보관된 필수 정보를 수정하실 수 있습니다. 또한 회원 가입 시 요구된 필수 정보 외의 추가정보는 언제나 열람, 수정, 삭제할 수 있습니다. 이용자의 개인정보 변경 및 삭제와 회원탈퇴는 로그인 후 이용하실 수 있습니다.

8. 쿠키(cookie)의 운영에 관한 사항
가. 쿠키는 웹사이트가 이용자의 컴퓨터 브라우저로 전송하는 소량의 정보입니다. 이용자가 웹사이트에 접속을 하면 회사 서버는 이용자의 브라우저에 추가정보를 임시로 저장하여 접속에 따른 성명 등의 추가 입력 없이 서비스를 제공할 수 있습니다. 쿠키는 이용자의 컴퓨터는 식별하지만 이용자를 개인적으로 식별하지는 않습니다. 또한 이용자는 쿠키에 대한 선택권이 있습니다. 웹 브라우저 상단의 도구 > 인터넷 옵션 탭(option tab)에서 모든 쿠키를 다 받아들이거나, 쿠키가 설치될 때 통지를 보내도록 하거나, 아니면 모든 쿠키를 거부할 수 있는 선택권을 가질 수 있습니다.
나. 회사는 이용자의 편의를 위하여 쿠키를 운영합니다. 회사는 쿠키를 통해 수집하는 정보는 회원ID에 한하며, 그 외의 다른 정보는 수집하지 않습니다. 또한 쿠키를 통해 수집한 회원 ID는 다음의 목적을 위해 사용됩니다.
① 개인의 관심 분야에 따란 차별화된 정보를 제공
② 쇼핑한 품목들에 대한 정보와 장바구니 서비스를 제공
다. 쿠키는 브라우저의 종료 시나 로그아웃 시 만료됩니다.

9. 개인정보의 처리위탁
회사는 서비스의 원활한 제공을 위해 개인정보를 위탁처리하고 있으며, 관계 법령에 따라 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 있습니다. 
- 위탁  대상자 : 우체국택배, CJ대한통운, 로젠택배, 
- 위탁업무내용 : 상품의 운송 관련 전반, 카드 및 각종 pay에 대한 결제 처리 및 청구, 고객정보 DB시스템 구축 및 운영/관리
<span class="text-color">
10. 개인정보보호를 위한 기술적/관리적 대책 
가. 개인정보 취급 직원의 최소화 및 교육
개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 개인정보를 관리하는 대책을 시행하고 있습니다.
나. 해킹 등에 대비한 기술적 대책
회사는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신·점검을 하며, 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.
다. 개인정보의 암호화
이용자의 개인정보는 암호화 됭러 저장 및 관리되고 있어 본인만 알 수 있으며, 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.
라. 접속기록의 보관 및 위변조 방지
개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관, 관리하고 있으며, 접속 기록이 위변조 및 도난, 분실되지 않도록 보안기능을 사용하고 있습니다.
마. 개인정보에 대한 접근 제한
개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여, 변경, 말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며, 침입차단시스템을 이용하여 외부로부터의 무단접근을 통제하고 있습니다.
</span>

11. 개인정보보호책임자
회사는 이용자가 좋은 정보를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 개인정보를 보호하는데 있어 이용자에게 고지한 사항들에 반하는 사고가 발생할 시에는 회사가 모든 책임을 집니다. 그러나 기술적인 보완조치를 했음에도 불구하고, 해킹 등 기본적인 네트워크상의 위험성에 의해 발생하는 예기치 못한 사고로 인한 정보의 훼손 및 방문자가 작성한 게시물에 의한 각종 분쟁에 관해서 회사는 책임을 지지 않습니다. 이용자의 개인정보를 처리하는 책임자는 다음과 같으며 개인정보 관련 문의사항에 신속하고 성실하게 답변해 드리고 있습니다. 
개인정보보호책임자 성명 : 김영석
전화번호 : 043-544-5446
이 메 일 : boeunhappy@hanmail.net

12. 고지의 의무 
가. 본 개인정보처리방침을 포함한 기타 개인정보보호에 대한 상세한 내용은 서비스 홈페이지 첫 화면에 공개함으로써 이용자가 언제나 용이하게 보실 수 있도록 조치하고 있습니다.
나. 법령 정책 또는 보안기술의 변경에 따라 중요한 내용의 추가 삭제 및 수정이 있을 시에는 변경되는 개인정보처리방침을 시행하기 전에 서비스 홈페이지를 통해 변경이유 및 내용 등에 대하여 공지하도록 하겠습니다.
다. 본 개인정보처리방침의 내용은 수시로 변경될 수 있으므로 서비스홈페이지를 방문하실 때 마다 이를 확인하시기 바랍니다. 

</pre>
        </div>
        <form id="agree-form" action="{% url 'boeun_bread:SignUp' %}" method="POST">
            {% csrf_token %}
            <div style="margin-left: 46px; margin-top: 12px;">
                <input type="checkbox" name="is_check" id="agree_check">
                <label for="agree_check" style="font-weight: 600;">모든 약관을 확인하고 동의합니다.</label>
            </div>
            <div class="text-center">
                <div class="button" onclick="mainPage();">메인 페이지로</div>
                <div class="button" onclick="nextPage();">다음</div>
            </div>
        </form>
    </div>
    <script>
        function mainPage(){
            location.href="{% url 'boeun_bread:main' %}";
        }
        function nextPage(){
          if(document.getElementById('agree_check').checked == true){
                $("#agree-form").submit();
          }
          else{
            alert('약관에 동의해주셔야 합니다.');
          }

        }
    </script>
{% endblock %}
