{% extends 'SignUp/signup_base.html' %}

{% block content %}
    <style>
        #agreement-box{
            width:968px;
            height: 616px;
            border-top:2px solid #9E9E9E;
            margin: 0 auto;
            margin-top:65px;
            background: #F8F8F8;
            margin-bottom: 40px;;
        }
        hr{
            border-width: 2px;
            border-color:rgb(210,210,210);
        }
        .text-box{
            overflow-y: scroll;
            width:876px; 
            height:121px; 
            border:1px solid rgb(210,210,210); 
            margin-left: 46px;
            background: white;
        }
    </style>
    <div id="agreement-box">
        <p style="color:#9E9E9E; font-size: 20px; font-weight: 600; margin-left:46px; margin-top: 61px;">
            이용약관 
            <span style="color:#EF832E; font-size:12px; font-weight:500;">
                보은 빵은 공정거래위원회의 전자상거래 표준약관을 준수합니다.
            </span>
        </p>
        <hr>
        <p style="font-size:14px; color:#9E9E9E; font-weight: 500; margin-left: 46px;">
            <span style="color:#EF832E;">(필수)&nbsp</span>
            이용약관
        </p>
        <hr style="margin-bottom: 9px;">
        <div class="text-box">
            
        </div>
        <hr>
        <p style="font-size:14px; color:#9E9E9E; font-weight: 500; margin-left: 46px;">
            <span style="color:#EF832E;">(필수)&nbsp</span>
            이용약관
        </p>
        <hr style="margin-bottom: 9px;">
        <div class="text-box">
            
        </div>
        <div style="margin-left: 46px; margin-top: 12px;">
            <input type="checkbox">
            <span style="font-weight: 600;">모든 약관을 확인하고 동의합니다.</span>
        </div>
    </div>
{% endblock %}