{% extends "SignUp/signup_base.html" %}
{% block content %}
{% load static %}
<style>
  .sign_up_icon{
    width:40px;
  }
  .icon_bar{
    margin-left:33px;
    width:45px;
    color:red;
  }
  #sign_in_box{
      width:968px;
      height: 545px;
      border-top:2px solid #9E9E9E;
      margin: 0 auto;
      margin-top:67px;
      background: #F8F8F8;
  }

  #b_cancle{
    font-weight:bold;
  }

  #b_sgin_up{
    font-weight:bold;
    color:white;
    background-color:black;
  }

</style>
<div style="width:521px; margin:0 auto; margin-top:77px;">
<div>
    <img class="sign_up_icon" src="{% static 'img/sign_up/sign_up_two.png'%}" style="">
    <img class="sign_up_icon" src="{% static 'img/sign_up/sign_up_three_check.png'%}" style="margin-left:111px;">
    <img class="sign_up_icon" src="{% static 'img/sign_up/sign_up_one.png'%}" style="margin-left:111px;">
    <img class="sign_up_icon" src="{% static 'img/sign_up/sign_up_four.png'%}" style="margin-left:111px;">
</div>

<div style="margin-top: 15px;">
    <span style="margin-left:-7px; margin-right:97px;">약관동의</span>
    <span style="margin-left:-13px; margin-right:105px; color:#e47f32;"><U>회원정보 입력</U></span>
    <span style="margin-left:-33px; margin-right:97px;">본인인증</span>
    <span>가입완료</span>
  </div>
</div>


<div id="sign_in_box">
  <form name="signup" action="{% url 'boeun_bread:SignUp' %}" method="POST">
    {% csrf_token %}
    <div>
      <div style="margin-top:55px; margin-left:161px; float:left; font-size:18px;">회원정보 입력</div>
      <div style="margin-top:58px; margin-left:75px; color:#e47f32; float:left;">* 표시는 반드시 입력하셔야 하는 항목입니다.</div>
    </div>
    <div style="clear:both; padding-top:33px; margin-left:161px;" >
      <div style="padding-top:5px; color:#e47f32; float:left;">●</div>
      <div style="padding-top:5px; float:left; padding-left:10px;">아이디</div>
      <div style="float:left; padding-left:132px;">
        <input type="text" style="width:178px; height:29px;"id="user_id" onblur="idcheck();" maxlength="20">
      </div>
      <div  id ="id_error_text" style="float:left; padding-left:16px; padding-top:5px; ">아이디는 6~20자 내로 입력해 주세요.</div>
    </div>

    <div style="clear:both; padding-top:21px; margin-left:161px;" >
      <div style="padding-top:5px; color:#e47f32; float:left;">●</div>
      <div style="padding-top:5px; float:left; padding-left:10px;">비밀번호</div>
      <div style="float:left; padding-left:117px;">
        <input type="password" style="width:178px; height:29px;" id="pw1" maxlength="15">
      </div>
      <div id="pw_error_text" style="float:left; padding-left:16px; padding-top:5px;">비밀번호는 8~15자로 설정 가능합니다.</div>
    </div>

    <div style="clear:both; padding-top:21px; margin-left:161px;" >
      <div style="padding-top:5px; color:#e47f32; float:left;">●</div>
      <div style="padding-top:5px; float:left; padding-left:10px;">비밀번호 확인</div>
      <div style="float:left; padding-left:85px;">
        <input id="pw2" type="password" style="width:178px; height:29px;"onblur="pwcheck();" maxlength="15">
      </div>
      <div id="pw2_error_text" style="float:left; padding-left:16px; padding-top:5px;">확인을 위해 다시 한 번 입력해 주세요.</div>
    </div>

    <div style="clear:both; padding-top:21px; margin-left:161px;" >
      <div style="padding-top:5px; color:#e47f32; float:left;">●</div>
      <div style="padding-top:5px; float:left; padding-left:10px;">이름</div>
      <div style="float:left; padding-left:144px;">
        <input type="text" style="width:178px; height:29px;">
      </div>
    </div>

    <div style="clear:both; padding-top:21px; margin-left:161px;" >
      <div style="padding-top:5px; color:#e47f32; float:left;">●</div>
      <div style="padding-top:5px; float:left; padding-left:10px;">이메일</div>
      <div style="float:left; padding-left:130px;">
        <input type="text" style="width:178px; height:29px;">
      </div>
      <div style="padding-top:5px; float:left; padding-left:16px;">@</div>

      <div style="float:left; padding-left:16px;">
        <input type="text" style="width:178px; height:29px;" value="직접 입력">
      </div>

      <div style="float:left; padding-left:16px;">
        <input type="text" style="width:178px; height:29px;">
      </div>

    </div>

    <div style="clear:both; padding-top:21px; margin-left:161px;" >
      <div style="padding-top:5px; color:#e47f32; float:left;">●</div>
      <div style="padding-top:5px; float:left; padding-left:10px;">휴대폰번호</div>
      <div style="float:left; padding-left:101px;">
        <input type="text" style="width:178px; height:29px;">
      </div>
    </div>

    <div style="clear:both; padding-top:56px; margin-left:310px;" >
      <input id ="b_cancle" type="button" style="width:153px; height:39px;" value="취소" onclick="SignUP_cancel()">
      <input id="b_sgin_up" type="button" style="width:153px; height:39px; margin-left:38px;" value="회원가입">
    </div>

<!--
<div>
    <label>이름 및 단체명</label>
    <input type="text" id="user_name" name="user_name"  style="border-radius: 10px!important;" maxlength="20">
</div>
<div >
    <label>ID</label>
    <input type="text" id="user_id" name="user_id"style="border-radius: 10px!important;" maxlength="20">
</div>
<div>
    <label>비밀번호</label>
    <input type="password" id="user_pwd" name="user_pwd"style="border-radius: 10px!important;" maxlength="20">
</div>
<div>
    <label>비밀번호 확인</label>
    <input type="password" id="user_pwcheck" name="user_pwcheck"style="border-radius: 10px!important;" maxlength="20">
</div>
<div>
    <label>이메일</label>
    <input type="email_text" id="email_text" name="email_text" style="border-radius: 10px!important;" maxlength="20">
    <p style="display: inline;">@</p>
    <select id="email_select" name="email_select" onblur="emailcheck();" onchange="emailcheck();" style="display: inline;">
        <option selected>주소 선택</option>
        <option>naver.com</option>
        <option>daum.net</option>
        <option>nate.com</option>
        <option>gmail.com</option>
        <option>hanmail.net</option>
        <option>hotmail.com</option>
        <option>paran.com</option>
        <option>yahoo.co.kr</option>
    </select>
</div>

<div>
    <labe>휴대폰번호</labe>
    <input type="text" id="user_phone" name="user_phone" style="border-radius: 10px!important;" maxlength="11" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
</div>

<div style="margin-top:3%;">
    <button type="reset" class="btn btn-danger" >취소</button>
    <button type="submit" class="btn btn-primary" >가입하기</button>
</div>
-->


  </form>
</div>

<script>
  function SignUP_cancel(){
    location.href="{% url 'boeun_bread:main' %}";
  }
</script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<!-- iamport.payment.js -->
<!-- <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script> -->
<script>
  function idcheck(){
      var idRule = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,20}$/;
      /*var id_right = document.getElementById('id_right');
      var id_passrule_error = document.getElementById('id_passrule_error');*/
      if(!idRule.test($('#user_id').val())) {
        $("#id_error_text").css("color","red");
      }
      else{
        $("#id_error_text").css("color","black");
          id = $('#user_id').val();
          if(id != ''){
              $.ajax({
                  type : "POST",
                  url : "{% url 'boeun_bread:SignUp_idcheck' %}",
                  data : {
                      'csrfmiddlewaretoken': '{{ csrf_token }}',
                      'idcheck' : id,
                  },
                  success : function(response)
                  {
                      if(response.msg == '사용자가 이미 사용하고 있습니다.')
                      {
                          alert("사용자가 이미 사용하고 있습니다.");
                      }else{
                          alert("아이디 사용 가능합니다.");
                      }
                      
                  },
              });
          }
      }
  }

  function passrulecheck(){
      //비밀번호 8자리 이상 15자리 이하 특수문자 영어 숫자 포함
      var passRule = /^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
      
      if(!passRule.test($('#pw1').val())) 
         $("#pw_error_text").css("color","red");
         
      else
        $("#pw_error_text").css("color","black");
      
      
  }
  $("#pw1").keyup(function(){
        passrulecheck();
  });
  
  $("#pw2").keyup(function() {
        pwcheck();
    });

  function pwcheck(){
      pw = $('#pw2').val();
      pw_check = $('#pw1').val();
      if(pw != ''){
          
          if(pw != pw_check){

            $("#pw2_error_text").text("비밀번호가 다릅니다.").css("color","red");
          }
          else{
            $("#pw2_error_text").text("비밀번호가 일치합니다.").css("color","#0081ff");
          }
      }
  }
</script>
{% endblock %}