{% extends "base.html" %}
{% block content %}
<h1>회원가입</h1>

<form name="signup" action="{% url 'boeun_bread:SignUp' %}" method="POST">
    {% csrf_token %}
<div>
    <label>이름 및 단체명</label>
    <input type="text" id="user_name" name="user_name"  style="border-radius: 10px!important;" maxlength="20">
</div>
<div >
    <label>ID</label>
    <input type="text" id="user_id" name="user_id"style="border-radius: 10px!important;" maxlength="20">
</div>
<div>
    <label>비밀번호</label>
    <input type="password" id="user_pwd" name="user_pwd"style="border-radius: 10px!important;" maxlength="20">
</div>
<div>
    <label>비밀번호 확인</label>
    <input type="password" id="user_pwcheck" name="user_pwcheck"style="border-radius: 10px!important;" maxlength="20">
</div>
<div>
    <label>이메일</label>
    <input type="email_text" id="email_text" name="email_text" style="border-radius: 10px!important;" maxlength="20">
    <p style="display: inline;">@</p>
    <select id="email_select" name="email_select" onblur="emailcheck();" onchange="emailcheck();" style="display: inline;">
        <option selected>주소 선택</option>
        <option>naver.com</option>
        <option>daum.net</option>
        <option>nate.com</option>
        <option>gmail.com</option>
        <option>hanmail.net</option>
        <option>hotmail.com</option>
        <option>paran.com</option>
        <option>yahoo.co.kr</option>
    </select>
</div>

<div>
    <labe>휴대폰번호</labe>
    <input type="text" id="user_phone" name="user_phone" style="border-radius: 10px!important;" maxlength="11" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
</div>

<div style="margin-top:3%;">
    <button type="reset" class="btn btn-danger" >취소</button>
    <button type="submit" class="btn btn-primary" >가입하기</button>
</div>

</form>
{% endblock %}